[user]
	name = victormoya
	mail = vmoyacueto@gmail.com
	email = vmoyacueto@gmail.com
[core]
    editor = vim
    excludefiles = ~/.gitignore
    autocrlf = input
[color]
    ui = always
[merge]
    tool = vimdiff
[push]
    deafult = simple
[alias]
    st = status
    co = checkout
    br = branch
    up = rebase
    ci = commit
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    yesterday = log --since 1.day.ago --decorate --oneline --author 'victormoya'
[credential]
	helper = osxkeychain
